*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ff7b7b;
    padding: 20px 40px;
}

.nav-links{
    display: flex;
    gap: 40px;
    list-style: none;
    flex: 1;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: 650;
    font-size: 18px;
    letter-spacing: 2px;
}

.menu-bar{
    height: 30px;
    width: 30px;
    margin: 0;
    cursor: pointer;
}



@media (max-width: 968px) {
    

    .nav-links {
        gap: 20px;
        font-size: 14px;
    }

           
}